<h1>Connect Four</h1>
<h4>A Java Assignment</h4>
<h4>Can only be turned in as a file</h4>
<p>Create a REPL (Read Evaluate Print Loop) to play Connect Four. You should have a class Board, which has a 2D ArrayList to keep track of the state of the game (to represent 7 columns and 6 rows), and a class Token, which can either be an <span style="background-color: lightgray;">X</span> or an <span style="background-color: lightgray;">O</span>.</p>
<p>The game will assume that users are taking turns, and will ask each user to choose a column. The Board class will have a dropToken method, as well as a checkWinner method and a checkTie method.</p>
<p>After each move, the Board class should run a boardPrint method, which will print out something like this:</p>
<pre><code>
.......
.......
.......
.......
..X....
.XOO...
<br /></code></pre>
<p>Example for recursive check <a href="https://gitlab.com/atb-teacher/teaching-files/-/tree/main/counterExample">https://gitlab.com/atb-teacher/teaching-files/-/tree/main/counterExample</a></p>
<h4>Extra Credit (+1)</h4>
<p>Implement a recursive algorithm that counts down from 4, steps in a direction, and checks if 4 Tokens are the same type in that direction. Use this recursive algorithm to check if there's a winner.</p>
