<h1>Ticket to Ride Lab</h1>

<h2>A Java lab</h2>

<p>You are given this game board <img src="ticket-to-ride.png" alt="game board" /> as well as a csv file that has the cards required to connect each city <a href="ticket-to-ride-distances.csv">here</a>. The delimiter is not a comma <code>,</code> but rather it is a tilde <code>~</code>.</p>

<p>The game looks something like this:</p>

<p><code>
(Denver) == (Kansas City)
   |
(Albuquerque)
</code></p>

<p>In this example, connecting Denver and Kansas City requires four cards, and connecting Denver and Albuquerque requires one card. There is no direction: connecting Seattle and Helena is the same as connecting Helena and Seattle.</p>

<p>You will write a program that analyzes the csv file, lets the user choose two cities mentioned in the csv file, and figures out the minimum number of cards required to to make a train line from one city to another. For example, making a train line from Albuquerque to Kansas City, the shortest path would be through Denver. It would require five cards: one card to connect Albuquerque to Denver, and four cards to connect Denver to Kansas City. If the user chooses <code>Albuquerque</code> and <code>Kansas City</code>, the program should print out that the smallest number of cards to connect them is five.</p>

<p>This program is not required to be recursive.</p>
