<h1>Practice Test #2</h1>

<h2>Jan 7, 2022</h2>

<h3>Chapter 2</h3>

<ol>
<li><p>Give a brief description of each important function of an operating system (2.1.6):</p>

<p>A. Peripheral Communication</p>

<p>B. Memory Management</p>

<p>C. Resource Monitoring and Multitasking</p>

<p>D. Networking</p>

<p>E. Disk Access and Data Mangement</p>

<p>F. Security</p></li>
<li><p>What is the difference between a GUI and a CLI? Name two advantages of each (2.1.7).</p></li>
<li><p>Between a bit and a byte, which one is larger? How many of the smaller are in the larger (2.1.9)?</p></li>
<li><p>Most numbers we see are in base-10. What base is binary in? What base is hexadecimal in(2.1.9)?</p></li>
<li><p>Convert the following binary number to base-10 (2.1.9):</p>

<blockquote>
  <p>1101</p>
</blockquote></li>
<li><p>Convert the following base-10 number to binary (2.1.9):</p>

<blockquote>
  <p>29</p>
</blockquote></li>
<li><p>Name two character encoding schemes (2.1.10).</p></li>
<li><p>Construct a truth table for the following Boolean expression (2.1.11):</p>

<blockquote>
  <p>(a XOR b) AND NOT (c OR b)</p>
</blockquote></li>
</ol>

<h3>Chapter 3</h3>

<ol>
<li><p>Label  numbers 1-7 of the OSI model(3.1.1):</p>

<p><img src="osi.png" alt="OSI Model" title="" /></p></li>
<li><p>What is the difference between a hub and a switch(3.1.1)?</p></li>
<li><p>What is the difference between LAN and WAN(3.1.1)?</p></li>
<li><p>What is the difference between lossy and lossless data compression (3.1.9)?</p></li>
</ol>
