 <h1>Hello from Flask!</h1>
    <form method="post" action="/">
    <p>
    <label for="first-name">What's your first name?</label>
    <input type="text" name="first-name">
    </p>
    <p>
    <label for="food">What's your fav food?</label>
    <input type="text" name="food">
    <input type="submit">
    </p>
    </form>
    {% for user in users %}
    <p>{{user.firstname}} likes to eat {{user.food}}</p>
    {% endfor %}